
border-style = 1px solid var(--color-border)

flex-column-center()
  display flex
  flex-direction column
  align-items center

flex-between-center()
  display flex
  align-items center
  justify-content space-between

flex-center()
  display flex
  align-items center

cursor()
  cursor pointer


button()
  padding spacing-small
  cursor()


text-overflow-ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis