.standard_button
  button()
  border-radius border-radius-small
  &:hover
    background var(--color-hover)


.standard_button.active
  background var(--color-hover)

.theme_text_center_button
  @extend .standard_button
  background var(--color-theme)
  text-align center


input
  display block
  color var(--color-text)
  background none
  outline none
  border 0