standard-distance = 12px

spacing-mini = 8px
spacing-small = 12px
spacing-middle = 16px
spacing-large = 24px

border-radius-mini = 3px
border-radius-small = 5px

color-hover = rgb(52, 52, 52)
color-active = rgb(62, 62, 62)

color-theme = rgb(255, 96, 0)
color-theme-2 = rgb(255, 165, 89)

color-text-hover = rgba(255, 255, 255, .8)
color-text-active = rgba(255, 255, 255, .3)

color-info = rgb(220, 215, 215)

font-size-normal = 14px


width-tool = 50px
width-type = 200px
width-list = 300px


[data-theme='dark']
  --color-bg: rgb(26, 26, 26)
  --color-bg-tool: #000
  --color-text: rgb(255, 255, 255)
  --color-hover: rgb(52, 52, 52)
  --color-border: rgb(49, 49, 49);


[data-theme='light']
  --color-bg: rgb(255, 255, 255)
  --color-bg-tool: #f9f9f9
  --color-text: rgb(25, 25, 25)
  --color-hover: rgb(52, 52, 52)
  --color-border: rgb(242, 242,242);