.custom_component_dialog_wrapper
  position fixed
  z-index 99
  left 0
  top 0
  width 100%
  height 100%
  background rgba(0, 0, 0, 0.5)
  overflow auto

.custom_component_dialog_container
  background var(--color-bg)
  margin auto
  margin-top: 50px

