.custom_dialog_wrapper {
    /* display: none; */
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    overflow: auto;

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}