
.edit_container {
    width: 700px;
    background: rgb(33, 33, 33);
    margin: auto;
    margin-top: 70px;

    padding-bottom: 2px;
}

.edit_title {
    border-bottom: 1px solid var(--color-border) ;
}

.custom_input {
    display: block;
    padding: 10px;
    width: calc(100% - 20px);
    color: rgb(255, 255, 255);

    background: none;
    outline: none;
    border: 0px;
}

.custom_textarea {
    background: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    width: calc(100% - 20px);
    outline: none;
    border: 0px;
    resize: vertical;
}


.edit_item {
    margin: var(--standard-distance);
    border: 1px solid var(--color-border);
}

.edit_item_filename {
    border-bottom: 1px solid var(--color-border);
}

.add_file_wrapper {
    margin: var(--standard-distance);
    margin-top: calc(var(--standard-distance) + 5px);


    display: flex;
    justify-content: space-between;
}

.custom_button {
    display: inline;
    background: rgb(72, 72, 72);
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 3px;
}

.custom_button:hover {
    background: var(--color-hover);
}
.custom_button:active {
    background: var(--color-active);
}

.text-hover:hover {
    color: var(--color-theme);
}

.text-hover:active {
    color: var(--color-text-active);
}

.cancel_button {
    margin-right: 10px;
}

.edit_item_filename {
    display: flex;
    align-items: baseline;
}

.filename_close_btn {
    cursor: pointer;
    height: 100%;
    padding: 3px 15px;
}

.preview_btn {
    cursor: pointer;
    height: 100%;
    padding: 3px 15px;
}