@import url('SaveDialog.css');

* {
  padding: 0;
  margin: 0;

  --color-border: rgb(49, 49, 49);
  --standard-distance: 12px;

  --color-hover: rgb(52, 52, 52);
  --color-active: rgb(62, 62, 62);

  --color-theme: rgb(255, 96, 0);
  --color-theme-2: rgb(255, 165, 89);

  --color-text-hover: rgba(255, 255, 255, .8);
  --color-text-active: rgba(255, 255, 255, .3);

  --width-tool: 50px;
  --width-type: 200px;
  --width-list: 300px;
}

body {
  background: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.standard_button {
  padding: var(--standard-distance);
  /* margin: 10px; */
  margin: 0 var(--standard-distance);
  margin-bottom: var(--standard-distance);
  cursor: pointer;
}

.standard_button:hover {
  background: var(--color-hover);
  border-radius: 5px;
}

.tool_container {
  height: 100vh;
  width: var(--width-tool);
  background: #000;
  position: fixed;
  top: 0;

  padding-top: var(--standard-distance);

  display: flex;
  flex-direction: column;
  align-items: center;

}
.tool_button {
  cursor: pointer;
  margin-bottom: var(--standard-distance);
}
.tool_button:hover {
  color: var(--color-theme);
}

.type_container {
  border-right: 1px solid var(--color-border);
  width: var(--width-type);
  height: 100vh;
  padding-top: var(--standard-distance);
  position: fixed;
  top: 0;
  left: var(--width-tool);
}

.type_button {
  padding: var(--standard-distance);
  /* margin: 10px; */
  margin: 0 var(--standard-distance);
  margin-bottom: var(--standard-distance);
  cursor: pointer;
}

.type_button:hover {
  background: var(--color-hover);
  border-radius: 5px;
}

.tag_line {
  border-top: 1px solid var(--color-border);
  margin: var(--standard-distance);
}


.list_container {
  width: var(--width-list);
  border-right: 1px solid var(--color-border);
  height: 100vh;
  position: fixed;
  top: 0;
  left:  calc(var(--width-type) + var(--width-tool));
  padding-top: var(--standard-distance);

  overflow: auto;
}

.list_button {
  white-space: nowrap;
  overflow: hidden;
}

.list_button.active{
  background: var(--color-border);
  border-radius: 5px;
}


.detail_container {
  margin-left: calc(var(--width-type) + var(--width-list) + var(--width-tool));
}

.detail_title {
  border-bottom: 1px solid var(--color-border);
  padding: var(--standard-distance);
}

.detail_content {
  padding: var(--standard-distance);
}

.detail_item {
  margin-bottom: var(--standard-distance);
}
.detail_item_content {
  margin-top: 10px;
  background: var(--color-border);
  padding: var(--standard-distance);
  overflow: auto;
}

.list_button_plus {
  text-align: center;
  background: var(--color-border);
  border-radius: 5px;
}

.list_button_plus:hover {
  background: rgb(72, 72, 72);
}

.list_button_plus:active {
  background: rgb(52, 52, 52);
}