@import url('SaveDialog.css');
@import "Markdown.css";

* {
  padding: 0;
  margin: 0;

  --color-border: rgb(49, 49, 49);
  --standard-distance: 12px;

  --color-hover: rgb(52, 52, 52);
  --color-active: rgb(62, 62, 62);

  --color-theme: rgb(255, 96, 0);
  --color-theme-2: rgb(255, 165, 89);

  --color-text-hover: rgba(255, 255, 255, .8);
  --color-text-active: rgba(255, 255, 255, .3);

  --color-text: rgb(255, 255, 255);
  --color-bg: rgb(26, 26, 26);

  --width-tool: 50px;
  --width-type: 200px;
  --width-list: 300px;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-size: 12px;
}

.standard_button {
  padding: var(--standard-distance);
  /* margin: 10px; */
  margin: 0 var(--standard-distance);
  margin-bottom: var(--standard-distance);
  cursor: pointer;
}

.standard_button:hover {
  background: var(--color-hover);
  border-radius: 5px;
}

.tool_container {
  height: 100vh;
  width: var(--width-tool);
  background: #000;
  position: fixed;
  top: 0;

  padding-top: var(--standard-distance);

  display: flex;
  flex-direction: column;
  align-items: center;

}
.tool_button {
  cursor: pointer;
  margin-bottom: var(--standard-distance);
}
.tool_button:hover {
  color: var(--color-theme);
}

.type_container {
  border-right: 1px solid var(--color-border);
  width: var(--width-type);
  height: 100vh;
  padding-top: var(--standard-distance);
  position: fixed;
  top: 0;
  left: var(--width-tool);
}

.type_button {
  padding: var(--standard-distance);
  /* margin: 10px; */
  margin: 0 var(--standard-distance);
  margin-bottom: var(--standard-distance);
  cursor: pointer;
}

.type_button:hover {
  background: var(--color-hover);
  border-radius: 5px;
}

.tag_line {
  border-top: 1px solid var(--color-border);
  margin: var(--standard-distance);
}


.list_container {
  width: var(--width-list);
  border-right: 1px solid var(--color-border);
  height: 100vh;
  position: fixed;
  top: 0;
  left:  calc(var(--width-type) + var(--width-tool));
  padding-top: var(--standard-distance);

  z-index: 10;

  overflow: auto;
}

.list_button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list_button.active{
  background: var(--color-border);
  border-radius: 5px;
}


.detail_container {
  margin-left: calc(var(--width-type) + var(--width-list) + var(--width-tool));
}

.detail_title_container {
  border-bottom: 1px solid var(--color-border);
  padding: var(--standard-distance);

  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  background: var(--color-bg);
}

.detail_title_operate {
  display: flex;
}

.detail_title_operate div {
  cursor: pointer;
  padding: 0 10px;
}


.detail_content {
  padding: var(--standard-distance);
}

.detail_item {
  margin-bottom: var(--standard-distance);
}

.detail_content {
  background: rgb(40, 40, 40);
}

.detail_item_content {

  margin-top: 10px;
  background: var(--color-bg);
  border:1px solid var(--color-border);
  /*padding: var(--standard-distance);*/
  /*padding-left: 40px;*/
  overflow: auto;
}

.detail_item_content > pre {
  padding: var(--standard-distance);
}
.list_button_plus {
  text-align: center;
  background: var(--color-border);
  border-radius: 5px;
}

.list_button_plus:hover {
  background: rgb(72, 72, 72);
}

.list_button_plus:active {
  background: rgb(52, 52, 52);
}


.login_container {
  padding: var(--standard-distance);
  width: 400px;
  background: rgb(33, 33, 33);
  margin: auto;
  margin-top: 50px;
}

.login_button {
  padding: var(--standard-distance);
  background: rgb(52, 52, 52);

  text-align: center;
  border-radius: 5px;

  cursor: pointer;
}


.login_button:hover {
  background: rgb(72, 72, 72);
}
.login_button:active {
  background: rgb(62, 62, 62);
}


.confirm_container {
  padding: var(--standard-distance);
  width: 400px;
  background: rgb(33, 33, 33);
  margin: auto;
  margin-top: 50px;
}

.confirm_operate {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  /* 平分空间 */
}

.confirm_operate div {
  flex: 1;
  /* 每个 div 占据相同的宽度 */
  text-align: center;
  padding: var(--standard-distance);
  background: rgb(52, 52, 52);
  border-radius: 5px;
  cursor: pointer;
}
.confirm_operate div:hover {
  background: rgb(72, 72, 72);
}

.confirm_operate div:active {
  background: rgb(62, 62, 62);
}

.confirm_operate div:first-child{
  margin-right: 5px;
}

.confirm_operate div:last-child{
  margin-left: 5px;
}


.list_container_top {
  margin-bottom: var(--standard-distance);
  display: flex;
  align-items: center;
}

.list_button_toggle {
  margin-left: var(--standard-distance);
  cursor: pointer;
}

.list_top_text {
  margin-left: 5px;
}


.tag_button.active{
  background: var(--color-border);
  border-radius: 5px;
}

.type_button.active{
  background: var(--color-border);
  border-radius: 5px;
}

.type_container.type_gone {
  display: none;
}

.type_gone {
  --width-type: 0px;
}
