.type_container
  .tag_line
    border-bottom border-style
  .tag_button
    flex-between-center()
  .type_button
    margin spacing-small
    margin-top 0
  overflow auto


.tag_container
  &>div
    margin spacing-small


.type_top_container
  background var(--color-bg)
  padding-top spacing-small
  padding-bottom spacing-small
  stick-top()