.list_container_top
  flex-center()
  margin-left spacing-small
  .list_top_text
    margin-left spacing-mini

.list_button
  margin spacing-small
  text-overflow-ellipsis()

.list_button_plus
  @extend .standard_button
  margin spacing-small
  background var(--color-theme)
  text-align: center;


.list_top_group
  position sticky
  top 0
  margin-top spacing-small