.list_container_top
  flex-center()
  margin-left spacing-small
  .list_top_text
    margin-left spacing-mini

.list_button
  margin spacing-small
  text-overflow-ellipsis()

.list_button_plus
  @extend .theme_text_center_button
  margin spacing-small
  font-weight 900


.list_top_group
  stick-top()
  margin-top spacing-small


.list_button_toggle
  cursor-text()